<template name="hashtags">
    <form class="new-topic">
        <div class="">
            <!-- <input type="text" list="suggestions" name="text" class="form-control input" rows="1" placeholder="Search for Hashtags" autocomplete="off"/> -->
            <input type="text" id="search-box" class="form-control input" rows="1" placeholder="Search for Hashtags">
            <!-- This is the Drop Down -->
            <!-- <datalist id="suggestions">
                {{#each hashtagsList}}
                    {{> Option}}
                {{/each}}
            </datalist> -->
        </div>
    </form>

    <br><br>

    {{#if isLoading}}
        <span style="margin-left:15%">Searching....</span>
    {{else}}
        <span style="margin-left:15%">Loaded</span>
    {{/if}}
    <br><br>

    <ul class="list-group">
    {{#each getHashtags}}
        {{> Topic}}
    {{/each}}
    </ul>

</template>

<template name="Option">
    <option value="#{{hashtag}}"></option>
</template>

<template name="Topic">
    <li class="list-group-item" style="width:40%; margin-left:15%">
        <a href="#">#{{{hashtag}}}</a>
        <span class="badge">{{postCount}}</span>
    </li>
</template>
