<template name="home">
    <div class="container" style="max-width: 800px">
        <center class="page-header">
            <h1><strong>Introducing Bantr</strong></h1>
            <h4>Rant about sports here!<br>Start <strong>Bantr</strong>ing below, and have fun!</h4>
            <br>
            {{#if currentUser}}
            <form class="new-post">
                <div class="form-group">
                    <!-- <input type="text" name="text" class="form-control input-lg" rows="2" placeholder="Write a bantr..."/> -->
                    <textarea class="form-control" name="text" placeholder="Write a bantr..." rows="2"></textarea>
                    <br>
                    <button class="btn btn-primary">Submit</button>

                </div>
            </form>
            {{/if}}

            <ul class="posts list-group">
                {{#each posts}}
                    {{> Post}}
                {{/each}}
            </ul>

        </center>
    </div>
</template>

<template name="Post">
    <hr/>
    <li class="list-group-item list-group-item-info" style="font-size: 15px">
        <h4 style="float:left"><strong>{{username}}</strong></h4>
        <br>
        <p class="post-content">{{text}}</p>

        <!-- <button class="downvote" style="float: right; color: #ff0000"><span class=" glyphicon glyphicon-menu-down" aria-hidden="true"></span></button> -->

        <br>


        <!-- <br><br> -->

        <!-- <span><h3>Comments</h3></span> -->
        <!-- <div style="float: left"><strong>Points: {{points}}</strong></div> -->
        <button class="upvote btn {{upvotedClass}}" id="upvote-btn"> {{isUpvoted}} <span class="badge">{{points}}</span></button>

        <!-- <button class="upvote btn {{upvotedClass}}" style="float:left;margin-left:12%">⬆</button> -->
        <button class="btn btn-primary comment-btn" type="button">
          Comments <span class="badge"> {{commentsCount}}</span>
        </button>

        <span class="post-date">Posted at {{createdAt}}</span>


        <br><br>
        <form class="insertComment">
            <div class="form-group">
                <input type="text" name="text" class="form-control col-xs-12" style="width=100%" placeholder="Write a comment..."/>
            </div>
        </form>
        <br><br>
        <ul class="list-group comments">
            {{#each comments}}
                {{> Comment}}
            {{/each}}
        </ul>
    </li>
    <br>
</template>

<template name="Comment">
    <li class="list-group-item">
        <div>
            <a class="comment-author"><strong>{{author}}:</strong> </a> <p class="comment-body"> {{body}}</p>

        </div>

        <div class="date" style="float:right">Commented at {{submitted}}</div>
        <br>
    </li>
</template>
