/* CSS declarations go here */
.new-post {
    margin-left: -2%;
}
.posts {
    margin-left: -2%;
}
.navbar-default {
  background-color: #388db8;
  border-color: #027a98;
}
.navbar-default .navbar-brand {
  color: #dcdedf;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fefffe;
}
.navbar-default .navbar-text {
  color: #dcdedf;
}
.navbar-default .navbar-nav > li > a {
  color: #dcdedf;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fefffe;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #388db8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #dcdedf;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fefffe;
  background-color: #027a98;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #388db8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fefffe;
  background-color: #027a98;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fefffe;
  background-color: #027a98;
}
.navbar-default .navbar-toggle {
  border-color: #027a98;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #027a98;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dcdedf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dcdedf;
}
.navbar-default .navbar-link {
  color: #dcdedf;
}
.navbar-default .navbar-link:hover {
  color: #fefffe;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dcdedf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefffe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefffe;
    background-color: #027a98;
  }
}
.post-content {
    text-align:left;
    /*text-indent: 25px;*/
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 3%;
}
#upvote-btn {
    float:left;
    margin-left:10%;
}
.btn .btn-primary .comment-btn {
    margin-left: 10%
}
.post-date {
    font-size: 11px;
    float:right;
    margin-right:4%;
    margin-top:1%;
}
/*.panel-container {
    margin-left: 18%;
    margin-right: 5%;
    width:60%;
}
.panel-container .panel-body .mypanelbody{
    height:100%;
}
.panel-container span {
    float: right;
    margin-right: 2%;
}
.panel-container .list-group {
    width: 97%;
    margin-left: 3%;

}
.panel-container .list-group-item {
    width: 99%;
}
.panel-container #indent {
    height:100%;
}
.comment {
    width:40%;
}*/
.comment-author {
    float: left;
}
.comment-body {
    text-align: left;
    margin-left: 1%;
    text-indent: 4px;
}
