<template name="home">
    <div class="container">
    <center class="page-header">
		<h1><strong>Introducing Bantr</strong></h1>
		<h4>Rant about sports here!<br>Start <strong>Bantr</strong>ing below, and have fun!</h4>
    <br>
    {{#if currentUser}}
        <form class="new-post">
            <!-- <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" name="user" placeholder=""/>
            </div> -->
            <div class="form-group">
            <label for="inputUsername">Write Here</label>
            <input type="text" name="text" placeholder=""/>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    {{/if}}

    <ul class="posts list-group">
        {{#each posts}}
        {{> Post}}
        {{/each}}
    </ul>
    </center>
    </div>
</template>

<template name="Post">
    <div class="container">
    <hr/>
	<li class="list-group-item list-group-item-info" style="font-size: 15px">
		<strong>{{username}}</strong>: {{text}}
		<button class="upvote" style="float: right; color: #00ff00"><span class=" glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
		<button class="downvote" style="float: right; color: #ff0000"><span class=" glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
		<div style="float: left"><strong>{{points}}</strong></div>
		<br>
        <br>
		<span style="font-size: 11px">Posted at {{createdAt}}</span>
	</li>
	<br>
    </div>
</template>
